.App {
  text-align: center;
  padding: 7% 15%;
}

.App button {
  padding: 2% 4%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: aqua;

  border: none;
  border-radius: .5rem;
  transition: .3s ease-in-out;
}

.App button:hover {
  cursor: pointer;
  transform: scale(1);
}